@import url("https://use.typekit.net/uhw2vpa.css");
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	font-family: roboto, sans-serif;
}
#main {
	display: flex;
	min-height: calc(100vh - 40vh);
}
#main > .middle {
	padding: 1em;
	flex: 1;
}
#main > .side {
	padding: 1em;
	flex: 0 0 20vw;
	background: beige;
}
header, footer {
	padding: 1em;
	background-color: pink;
}
a {
	text-decoration: wavy;
	background-color: pink;
	cursor: crosshair;
	color: black;
	border: 1px solid black;
	padding: 1%;
	line-height: 35px;
	box-shadow: 0 0 3px #808080;
}
a:visited {
	color: black;
}
a:active {
	color: #982A15;
	text-shadow: 1px 1px pink;
	text-decoration: wavy;
}
h1 {
	font-family: tomarik-display, sans-serif;
	font-size: 60px;
	text-align: center;
}
h2 {
	font-family: brevia, sans-serif;
}
.fruits {
	position: absolute;
	left: 10%;
}
li {
	display: inline;
}
ul li {
	background-color: beige;
	width: 150px;
	height: 25px;
	border: 1px solid black;
	text-align: center;
	float: left;
	position: relative;
	margin-right: 1%;
	color: black;
	padding: auto;
	font-family: roboto, sans-serif;
}
.button {
	background-color: white;
	border: 1px solid black;
}
.delete {
	background-color: lightcoral;
	border: 1px solid black;
}
.add {
	background-color: lightgreen;
	border: 1px solid black;
}